<include href="header.html" />



<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="./">Home</a></li>
                <li class="active">Sample</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h1>{{ @companyName }}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <th>Day</th>
                    <th>Number of trips</th>
                </thead>
                <tbody>
                    <repeat group="{{ @trips }}" key="{{ @day }}" value="{{ @count }}">
                        <tr>
                            <td><strong>{{ @day }}</strong></td>
                            <td>{{ @count }}</td>
                        </tr>
                    </repeat>
                </tbody>
            </table>
        </div>
    </div>
</div>

<include href="footer.html" />